.container
  .main-pg
    .row
      .test-info.pull-left.hidden-xs
        %h4 Test accounts
        %p 
          username: heisenberg
          %br
          password: ZgXUUSKD
        %p 
          username: slippinjimmy
          %br
          password: gFVMLBvR
        %p 
          username: capncook
          %br
          password: TryWBV6b
      .panel.panel-default.col-md-4
        .panel-body
          = render "devise/sessions/form"
    .row 
      .panel.panel-default.col-md-4
        .panel-body
          %h4
            %strong New to twitter?
            Sign up
          = form_tag pre_registration_path  do
            = devise_error_messages!
            .form-group
              = text_field_tag :name, nil, class: "form-control", placeholder: "Full name"
            .form-group
              = email_field_tag :email, nil, class: "form-control", placeholder: "Email", autocomplete: "off"
            .form-group
              = password_field_tag :password, nil, autocomplete: "off", class: "form-control", placeholder: "Password"
            .actions
              = submit_tag "Sign up", class: "btn btn-warning btn-block"