.search-nav
    .search-title
        .container
            %h4 
                = @query
    %ul.navigation
        .container
            %li{ class: ("active" unless params[:f]) }
                %a#tweets-tab{ href: "/search?q=#{ @query }" } Tweets
            %li{ class: ("active" if params[:f]) }
                %a#users-tab{ href: "/search?f=users&q=#{ @query }" } Users
.row
    .col-md-8.col-md-offset-2
        - if @show_users.nil?
            %ul.tweets
                - if @tweets.any?
                    = render @tweets
                - else
                    .text-center
                        %h1 No results.
                        %p No results found for that search.
        - else
            .users.row.top-space
                - if @users.any?
                    = render partial: "/users/user", collection: @users, as: :user
                - else
                    .text-center
                        %h1 No results.
                        %p No person found for that search.
    