.profile-bg
	= image_tag user.cover, class: "img-responsive"
.bar
	.container
		.profile-avatar.thumbnail
			= image_tag user.avatar
		.profile-card
			= link_to profile_user_path(user.username) do
				.fullname
					%span
						%strong= user.name
				%small.username
					@#{user.username}
			- if current_page?(profile_user_path(user)) || current_page?( search_path)
				.bio
					%p= user.bio
		.profile-nav
			%ul.nav.nav-tabs
			
				%li{ role: "presentation", class: current_page?(profile_user_path(user))? "Active" : "" }
					= link_to "#" do 
						%span.tab-value= user.tweets.size
						%span.tab-label Tweets
				%li{ role: "presentation" } 
					= link_to "#" do
						%span.tab-value= user.following.size
						%span.tab-label Following
				%li{ role: "presentation" } 
					= link_to "#" do
						%span.tab-value= user.followers.size
						%span.tab-label Followers
				- if current_page? profile_user_path(user)
					%li{ role: "presentation" }
						= link_to "#" do
							%span.tab-value 3
							%span.tab-label Likes
			- if current_page?(profile_user_path(user.username)) || current_page?( search_path)
				- if current_user == user
					= link_to edit_user_registration_path, class: "btn btn-default btn-edit" do
						%i.fa.fa-edit
						%span Edit profile
				- else
					- if current_user_is_following(current_user.id, user.id)
						= link_to unfollow_user_path(user.username), class: "btn btn-default btn-unfollow", method: :post, remote: true do
							%i.fa.fa-check
							%i.fa.fa-user-times
							%span Following
					- else
						= link_to follow_user_path(user.username), class: "btn btn-default btn-follow", method: :post, remote: true do
							%i.fa.fa-user-plus
							%span Follow
					  