.profile-page
	.profile-header
		= render "profile_header", user: @user
	.container
		.row
			.profile-sidebar.col-sm-3.col-md-2
				.profile-card
					= link_to profile_user_path(@user) do
						.fullname
							%span= @user.email
						.username
							%span @username
					.info
						.created_at
							%i.fa.fa-calendar
							%span= @user.created_at.to_date
			.profile-tweets.col-sm-7.col-md-6.col-sm-offset-1
				= render @tweets

