.new-conversation.top-space
    .search_user
        = form_with(model:conversation) do |f|
            .form-group
                = f.hidden_field "receiver_id", id: "conversation_receiver_id"
                = text_field_tag "to", nil, placeholder: "enter a name", autocomplete: "off", class: "form-control", autofocus: true, require: true
            .form-group
                = f.submit "Next", class: "btn btn-primary"
    %ul.people.list-group-flush
        %h4 Recent users
        - current_user.authored_conversations.last(3).each do |conver|
            = render "conversations/user", user: conver.receiver
