.header
	.account
		= link_to profile_user_path(tweet.user) do
			.user-avatar
				= image_tag tweet.user.avatar
			.text
				.username
					%span.fullname
						%strong= tweet.user.name
					%span @#{ tweet.user.username }
	%small{ class: "time" }= time_ago_in_words(tweet.created_at)
	.dropdown
		%button#dropdownMenu1.btn.btn-action.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
			%i.fa.fa-chevron-down{"data-toggle" => "tooltip", "data-placement" =>"top", :title => "More"}
		%ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
			%li
				%a{ href: "#" } Share
			- if tweet.user == current_user
				%li
					= link_to "Edit", edit_tweet_path(tweet), remote: true
				%li
					= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" }, remote: true
			- else
				%li
					%a{ href: "#" } Report
.body
	.quote
		= tweet.quote
		.tweet.top-space.bottom-space
			.tweet-actionable{"data-url" => tweet_path(src_tweet.id) }
				.header
					.account
						= link_to profile_user_path(src_tweet.user) do
							.text
								.username
									%span.fullname
										%strong= src_tweet.user.name
									%span @#{ src_tweet.user.username }
				.body
					%p= src_tweet.body
= render "tweets/tweet_footer", tweet: tweet
