%li.tweet{ id: "tweet_#{ tweet.id }" }
	.tweet-actionable{ "data-url": tweet_path(tweet) }
		.container-fluid
			- if tweet.src_tweet.present?
				= render "tweets/retweet", tweet: tweet
			- else
				.header
					.account
						= link_to profile_user_path(tweet.user) do
							.user-avatar
								= image_tag tweet.user.avatar
							.text
								.username
									%span.fullname
										%strong= tweet.user.name
									%span @#{tweet.user.username}
					%small{ class: "time" }= time_ago_in_words(tweet.created_at)
					.dropdown
						%button.btn.btn-action.dropdown-toggle{ id: "dropdownMenu#{tweet.id}", "aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
							%i.fa.fa-chevron-down{"data-toggle" => "tooltip", "data-placement" =>"top", :title => "More"}
						%ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu#{tweet.id}"}
							%li
								%a{ href: "#" } Share
							- if tweet.user == current_user
								%li
									= link_to "Edit", edit_tweet_path(tweet), remote: true
								%li
									= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" }, remote: true
							- else
								%li
									%a{ href: "#" } Report
				- if tweet.parent.present?
					.parent
						%small 
							In response to 
							= link_to "@#{ tweet.user.username }", profile_user_path(tweet.user)
				.body
					%p= tweet.body
				- unless action_name == "new"
					= render "tweets/tweet_footer", tweet: tweet
