.footer
	.actions.row
		.reply.col-xs-4
			= link_to tweet_path(tweet), class: "btn btn-action" do
				.icon-container
					%i{ class: "fa fa-reply", "data-toggle" => "tooltip", "data-placement" =>"top", :title => "Reply" }
				.text-container
					.action-count
						%span= tweet.replies.size
		.retweet.col-xs-4
			= render "tweets/retweet_btn", tweet: tweet
		.like.col-xs-4
			- if current_user.voted_for? tweet
				= render "/tweets/dislike_btn", tweet: tweet
			- else
				= render "/tweets/like_btn", tweet: tweet