%ul.nav.navbar-nav
  %li.active
    = link_to root_path do
      %i.fa.fa-home
      Home
  %li
    = link_to notification_path do
      %i.fa.fa-bell
      Notifications
      %small#notification-counter.pull-right
        = @notifications.count if @notifications.any?
  %li
    = link_to "#" do
      %i.fa.fa-envelope
      Messages

%ul.nav.navbar-nav.navbar-right
  %li
    %a.dropdown-toggle.account{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = image_tag current_user.avatar, class: "img-circle img-responsive"
      %span.visible-xs Cuenta
      %span.caret.visible-xs
    %ul.dropdown-menu
      %li
        = link_to profile_user_path(current_user) do
          %strong.center-block= current_user.name
          %small view profile
      %li.divider{:role => "separator"}
      %li
        = link_to "Account settings", edit_user_registration_path
      %li
        = link_to "Sign out", destroy_user_session_path, method: :delete
  %li.btn-tweet
    = link_to new_tweet_path, class: "btn btn-primary", data: { toggle: "modal", target: "#modal-tweet" }, remote: true do
      %i.fa.fa-pencil 
      Tweet