!!! 5
%html
  %head
    %title twitter clone
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => root_path }
            %i.fa.fa-twitter
        #navbar-collapse-1.collapse.navbar-collapse
          - if user_signed_in?
            = render "partials/members_nav"
          - else
            = render "partials/guests_nav"

          = render "partials/nav_form" unless @disabled_search
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key} alert-dismissible"}
        = value
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
    = render "/partials/toast"
    = render "/partials/dialog"
    .container
      = yield

